* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #2fa36c;
  background-color: black;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App-header {
  background-color: black;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


nav {
  position: fixed;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
  width: 100%;
  height: 80px;
  top: 0;
  z-index: 1;
}

p {
  margin: 0;
  font-size: 40px;
}

h2 {
  margin: 0;
  font-size: 70px;
  text-decoration: underline;
}

div {
  margin: 0;
  font-size: 40px;
}

footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
  color: #2fa36c;
  width: 100%;
  height: 80px;
  bottom: 0;
  z-index: 1;
}

.theWorld {
  width: 50vw;
  height: 50vh;

}
nav a {
  margin-left: 15px;
  color: #2fa36c;
  text-decoration: none;
  font-size: 40px;
}

.brandLogo {
  width: 80%;
  height: 45%;
}

.timLogo {
  float: left;
  margin: 5px;
  width: 40%;
  height: 45%;
}
 
.aboutP {
  text-align: justify;
  font-size: 25px;
  padding: 0 20px;
}

nav a:hover {
  color: #61dafb;
}

nav a:active {
  color: #61dafb;
}

.top {
  margin-top: 60px;
  min-height: 100vh;
}

.centerC {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.centerR {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.bigText {
  font-size: 50px;
  font-weight: bold;
}

.smallText {
  font-size: 20px;
  font-weight: bold;
}

.mediumText {
  font-size: 40px;
  font-weight: bold;
}

.space {
  margin: 40px;
  text-align: center;
}

.copy {
  font-size: 25px;
}

.border {
  border: 1px solid #2fa36c;
  border-radius: 5px;
  padding: 10px;
}


@media (max-width: 1000px) {
  
  .bigText {
    font-size: 30px;
    font-weight: bold;
  }
  
  .smallText {
    font-size: 15px;
    font-weight: bold;
  }
  
  .mediumText {
    font-size: 25px;
    font-weight: bold;
  }

  div, p {
    font-size: 35px;
  }

  h2 {
    font-size: 50px;
  }

}

@media (max-width: 700px) {
  
  .bigText {
    font-size: 30px;
    font-weight: bold;
  }
  
  .smallText {
    font-size: 15px;
    font-weight: bold;
  }
  
  .mediumText {
    font-size: 25px;
    font-weight: bold;
  }

  div, p {
    font-size: 20px;
  }

  h2 {
    font-size: 30px;
  }

}

